<head>
  <meta charset="utf-8">
  <title>janken result</title>
  <script>
    window.onload = function () {


      const sse = new EventSource('/yonhaya/waitInfo');
      sse.onmessage = function (event) {
        console.log("sse.onmessage");
        var userWaitRoom = JSON.parse(event.data);
        var user_number = userWaitRoom.waitingUser;
        var finish_flag = userWaitRoom.finishFlag;
        var user_result = userWaitRoom.userResult;
        var results = "<a>他の人の解答を待ってます！</a>";
        var userRank = "";

        if (finish_flag) {
          results += "<a href='/yonhaya/finish'>結果発表</a>";
        }
        if (user_number == 2) {
          for (var i = 1; i <= user_result.length; i++) {
            userRank += `<p>${user_result[i - 1].rank}位</p><p>ユーザ名 : ${user_result[i - 1].userName}</p><p>${user_result[i - 1].point}点</p>`;
          }
          setTimeout(function () {
            window.location.href = '/yonhaya/quiz';
          }, 2000); // 2秒
        }

        document.getElementById("rank").innerHTML = userRank;
        document.getElementById("waitInfo").innerHTML = results;
      }
    }
  </script>
</head>

<body>
  <div th:if="${result}">
    [[${result}]]
  </div>

  <div id="waitInfo">
  </div>

  <div id="rank">
    <a>現在のランキング</a>
  </div>
</body>
