<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>クイズ</title>

  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<head>
  <meta charset="utf-8">
  <title>janken result</title>
  <script>
    window.onload = function () {


      const sse = new EventSource('/yonhaya/waitInfo');
      sse.onmessage = function (event) {
        console.log("sse.onmessage");
        var userWaitRoom = JSON.parse(event.data);
        var user_number = userWaitRoom.waitingUser;
        var finish_flag = userWaitRoom.finishFlag;
        var user_result = userWaitRoom.userResult;
        var results = "";
        var userRank = "";


        // 終了画面への自動遷移
        if (finish_flag) {
          results += "<a>問題は終了しました<br>結果をお待ちください</a>";
          setTimeout(function () {
            window.location.href = '/yonhaya/finish';
          }, 2000);
        } else {
          results += "<a>他の人の解答を待ってます！</a>";
        }
        if (user_number == 2) {
          userRank += `<a>現在のランキング</a>
                       <table class="table">
                       <thead class="table-dark">
                          <tr>
                            <th>順位</th>
                            <th>ユーザー名</th>
                            <th>得点</th>
                          </tr>
                        </thead>
                        <tbody>`;
          for (var i = 0; i < user_result.length; i++) {
            userRank += `<tr>
                          <td>${user_result[i].rank}位</td>
                          <td>${user_result[i].userName}</td>
                          <td>${user_result[i].point}点</td>
                         </tr>`;
          }
          userRank += `</tbody></table>`;

          setTimeout(function () {
            window.location.href = '/yonhaya/quiz';
          }, 2000); // 2秒
        }

        document.getElementById("rank").innerHTML = userRank;
        document.getElementById("waitInfo").innerHTML = results;
      }
    }
  </script>
</head>

<bodystyle="height: 100vh; margin: 0;">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
    <div th:if="${result}">
      [[${result}]]
    </div>

    <div id="waitInfo">
    </div>

    <div id="rank">
      <a>現在のランキング</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
